
  <%= simple_form_for :fake, :url => ideas_path, :method => :get , html: {class: 'form-horizontal'} do |f| %>
    <div class="row">
      <div class="col-md-2">
        <%= f.input_field :all, as: :boolean, inline_label: 'All' %>
      </div>
      <div class="col-md-2">
        <%= f.input_field :new, as: :boolean, inline_label: 'New' %>
      </div>
      <div class="col-md-2">
        <%= f.input_field :selected, as: :boolean, inline_label: 'Selected' %>
      </div>
      <div class="col-md-2">
        <%= f.input_field "On Hold", as: :boolean, inline_label: 'On Hold' %>
      </div>
      <div class="col-md-2">
        <%= f.input_field :rejected, as: :boolean, inline_label: 'Rejected' %>
      </div>
      <%= f.submit :name => "Search"%>
    </div>
  <% end %>


<h2>List Of Ideas</h2>

<table class="table table-striped" >
  <tr>
    <th>Creator Name</th>
    <th>Topic</th>
    <th>Type</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= simple_format(idea.idea_brief) %></td>
    <td><%= idea.idea_kind %></td>
    <td><%= idea.idea_status %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
