<p id="notice"><%= notice %></p>

<p>
  <b>Creator Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Topic:</b>
  <%= simple_format(@idea.idea_brief) %>
</p>

<p>
  <b>Type:</b>
  <%= @idea.idea_kind %>
</p>

<p>
  <b>Current Status</b>
  <%= @idea.idea_status %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
